## E3. Introducción a Pandas
`Pandas` es una librería utilizada para manipular y analizar datos estructurados. El principal objeto de `pandas` es el DataFrame, que es similar a una tabla de base de datos o una hoja de cálculo de Excel.

In [2]:
# Importar pandas
import pandas as pd

### Creación de un DataFrame
A continuación creamos un DataFrame a partir de un diccionario de datos.

In [3]:
# Crear un DataFrame
datos = {
    'Nombre': ['Ana', 'Luis', 'Carlos', 'Silvia', 'Pedro'],
    'Edad': [23, 25, 22, 26, 21],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Valencia', 'Madrid']
}
df = pd.DataFrame(datos)
df

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    25  Barcelona
2  Carlos    22   Valencia
3  Silvia    26   Valencia
4   Pedro    21     Madrid

### Selección de columnas y filas
Puedes seleccionar columnas o filas específicas en un DataFrame de manera sencilla.

In [9]:
# Seleccionar la columna 'Nombre'
df['Nombre']

0       Ana
1      Luis
2    Carlos
Name: Nombre, dtype: object

In [10]:
# Seleccionar la primera fila
df.iloc[0]

Nombre       Ana
Edad          23
Ciudad    Madrid
Name: 0, dtype: object

### Estadísticas descriptivas
Pandas también permite calcular estadísticas básicas rápidamente.

In [11]:
# Calcular estadísticas descriptivas del DataFrame
df.describe()

            Edad
count   3.000000
mean   23.333333
std     1.527525
min    22.000000
25%    22.500000
50%    23.000000
75%    24.000000
max    25.000000

### Filtrar filas según una condición (df[condición])
Filtrar filas que cumplen una condición.

In [4]:
# Filtrar personas mayores de 22 años
mayores_30 = df[df["Edad"] > 22]
print(mayores_30)

   Nombre  Edad     Ciudad
0     Ana    23     Madrid
1    Luis    25  Barcelona
3  Silvia    26   Valencia

### Añadir una nueva columna
Crear una nueva columna calculada a partir de otras.

In [5]:
df["Edad en 5 años"] = df["Edad"] + 5
print(df)

   Nombre  Edad     Ciudad  Edad en 5 años
0     Ana    23     Madrid              28
1    Luis    25  Barcelona              30
2  Carlos    22   Valencia              27
3  Silvia    26   Valencia              31
4   Pedro    21     Madrid              26

### Agrupar por una columna y calcular estadísticas (groupby())
Agrupar datos por una columna y realizar operaciones como sum(), mean(), etc.

In [8]:
print(df.groupby("Ciudad")["Edad"].mean())

Ciudad
Barcelona    25.0
Madrid       22.0
Valencia     24.0
Name: Edad, dtype: float64

In [ ]:
print(df.groupby("Ciudad")["Edad"].sum())

### Eliminar columnas o filas (drop())
Eliminar una columna o fila del DataFrame.

In [ ]:
# Eliminar la columna 'Edad en 5 años'
df = df.drop("Edad en 5 años", axis=1)
print(df)

### Ordenar el DataFrame por una columna (sort_values())
Ordenar el DataFrame de forma ascendente o descendente según una columna.

In [ ]:
df_ordenado = df.sort_values(by="Edad", ascending=False)
print(df_ordenado)

## Conclusión
Hemos aprendido los conceptos básicos de `pandas`, incluyendo la creación de DataFrames y mainpulación mediante las operaciones más utilizadas al trabajar con `pandas`